LabBuilder/schema/labbuilderconfig-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="labbuilderconfig">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string"> 
          <xs:annotation>
            <xs:documentation>
This optional element should contain a brief description of this Lab.
            </xs:documentation>
            <xs:appinfo>&lt;description&gt;This Lab builds two Domain Controllers and two DHCP Servers.&lt;/description&gt;</xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="settings">
          <xs:annotation>
            <xs:documentation>
This required element contains settings attributes controlling general settings of this Lab.
            </xs:documentation>
            <xs:appinfo>&lt;settings /&gt;</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="labid" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>
This optional attribute contains a Lab Identifier for the Lab. This identifier will be pre-pended to the names of any Virtual Machines, Switches and Network Adapter names created for this Lab.
                </xs:documentation>
                <xs:appinfo>labid="WS2012R2-CLUSTER-TEST"</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="domainname" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>
This optional attribute contains the Domain Name identifier used by Virtual Machines created in this Lab. It may be used by DSC to configure the Virtual Machines in the Lab.
                </xs:documentation>
                <xs:appinfo>domainname="CONTOSO.COM"</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="email" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>
This optional attribute contains an E-mail address of the Administrator of this Lab. It may be used by DSC to configure the Virtual Machines in the Lab.
                </xs:documentation>
                <xs:appinfo>email="dev@contoso.com"</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="labpath" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>
This optional attribute contains the full path to the folder that this Lab should be created in. It can be overridden when the Lab is installed.
The folder will be created when the Lab is installed if it doesn't already exist.
The Virtual Machines, Virtual Hard Disk drives and other Lab related files will be created in this folder.
                </xs:documentation>
                <xs:appinfo>labpath="f:\Labs\WS2012R2-CLUSTER-TEST-01"</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="vhdparentpath" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>
This optional attribute contains the path to the folder that will contain the Parent VHD files used by the Virtual Machines in this Lab.
If this folder is not rooted, it will be assumed to be a subfolder of the 'labpath'.
The Parent VHD files are used as Parent VHD's to any Lab VM boot disks or cloned to each Virtual Machine folder depending on the 'usedifferencingbootdisk' setting for each Lab VM.
                </xs:documentation>
                <xs:appinfo>vhdparentpath="f:\Labs\WS2012R2-CLUSTER-TEST-01\ParentVHDs"</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="dsclibrarypath" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>
This optional attribute contains the path to the folder that will contain the DSC Library files used by the Virtual Machines in this Lab.
If this folder is not rooted, it will be assumed to be a subfolder of the 'labpath'.
If this setting is not set it will default to 'dsclibrary' and will therefore be a subfolder of the 'labpath'.
Usually the content of this folder will either be provided with the Lab or created by copying the DSCLibrary folder provided with the LabBuilder module.
                
Each Virtual Machine that is set to be configured by DSC requires a DSC configuration file that must be found in this folder.
                </xs:documentation>
                <xs:appinfo>dsclibrarypath="C:\DSC\MyLibrary"</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="resources">
          <xs:annotation>
            <xs:documentation>
This optional element can contain one or more resources that will be required for this Lab to be installed.
These resources may be downloaded from the internet automatically depending on the resource type.
            
There can be different types of Resources that can be containined in the Resources element.

Currently the Resource types that are supported are:
 - Module: A PowerShell (DSC) Module that is downloaded via URL or using PowerShell Get. This can be a DSC or non-DSC PowerShell module.
            </xs:documentation>
            <xs:appinfo>&lt;resources&gt;...&lt;/resources&gt;</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="module">
                <xs:annotation>
                  <xs:documentation>
A PowerShell (DSC) Module that will be downloaded and installed to the Lab Host when this Lab is installed.
                  
Note: This is not required for any PowerShell DSC Modules that are referenced in a DSC configuration used by a Virtual Machine if the version required is available in the PowerShell Gallery and is just the latest version.
This is usually only required if the Lab requires the use of development resources or versions that are either not available on PowerShell Gallery or a specific version is requred.
                  </xs:documentation>
                  <xs:appinfo>&lt;module /&gt;</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>
The Name of the PowerShell (DSC) Module that this Lab requires.
If a URL attribute is not specified, the PowerShell Gallery will be searched for a module with this name and downloaded.
                      </xs:documentation>
                      <xs:appinfo>name="xNetworking"</xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="url" type="xs:string" use="optional">
                    <xs:annotation>
                      <xs:documentation>
An optional URL that will be used to download the PowerShell (DSC) Module from. Setting this attribute prevent LabBuilder from using PowerShell Get to download the Module if it is missing.
This is commonly used to download PowerShell (DSC) Modules directly from GitHub or other repositories.
                      </xs:documentation>
                      <xs:appinfo>url="https://github.com/PowerShell/xNetworking/archive/dev.zip"</xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="folder" type="xs:string" use="optional">
                    <xs:annotation>
                      <xs:documentation>
This optional attribute only needs to be set if the zip file downloaded by the URL in the URL attribute contains a folder that the PowerShell (DSC) Module is in.
This is usually used when the URL specifies a GitHub repository branch, which will cause the downloaded zip file to contain a folder named 'name-branch' (e.g. xNetworking-dev). 
                      </xs:documentation>
                      <xs:appinfo>folder="xNetworking-dev"</xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="minimumversion" type="xs:string" use="optional">
                    <xs:annotation>
                      <xs:documentation>
This optional attribute contains the minimum PowerShell module version that is required by this Lab.
If a version of the Module is not found that is at least this version then a newer version will be downloaded using PowerShell Get.
This attribute should only be used if URL is not set.    
                      </xs:documentation>
                      <xs:appinfo>minimumversion="2.0.0.0"</xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="requiredversion" type="xs:string" use="optional">
                    <xs:annotation>
                      <xs:documentation>
This optional attribute contains the specific PowerShell module version that is required by this Lab.
If a version of the Module is not found that is exactly this version then this version will be downloaded using PowerShell Get.
This attribute should only be used if URL is not set.    
                      </xs:documentation>
                      <xs:appinfo>requiredversion="2.1.0.0"</xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="switches">
          <xs:annotation>
            <xs:documentation>
This optional element contains a collection of zero or more Switch nodes representing the Hyper-V Virtual Switches that are required for this Lab.
Any missing switches in this list will be created on the Lab Host when this Lab is installed.

Note: A Private Management Virtual Switch will always be created for each installed Lab for LabBuilder to install and configure the Virtual Machines in a Lab. This Management Virtual Switch will not appear in this list but will always be created.  
            </xs:documentation>
            <xs:appinfo>&lt;switches&gt;...&lt;/switches&gt;</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="switch">
                <xs:annotation>
                  <xs:documentation>
This optional element represents a Hyper-V Virtual Switch that is required for this Lab.
A Lab may contain one or more Internal, Private, External or NAT Virtual Switches.
                  </xs:documentation>
                  <xs:appinfo>&lt;switch&gt;...&lt;/switch&gt;</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" maxOccurs="1" name="adapters">
                      <xs:annotation>
                        <xs:documentation>
This optional element contains a collection of zero or more Adapter nodes representing Hyper-V Virtual Network Adapters that are used by the Host Operating System to connect to this Hyper-V Virtual Switch.
This should element should only be added for External or Private switches.
                        </xs:documentation>
                        <xs:appinfo>&lt;adapters&gt;...&lt;/adapters&gt;</xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="adapter">
                            <xs:annotation>
                              <xs:documentation>
This optional element represents a Hyper-V Virtual Network Adapter that will be used as a Management Adapter for the Host Operating sytem to connect to this Virtual Switch.
These Management Adapters are usually used to allow access to the internet by the Virtual Machines in a Lab.
                              </xs:documentation>
                              <xs:appinfo>&lt;switch&gt;...&lt;/switch&gt;</xs:appinfo>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required">
                                <xs:annotation>
                                  <xs:documentation>
This required attribute is used to set the Name of the Management Virtual Adapter connected to this Hyper-V Virtual Switch.

Note: If this Lab configuration has got a LabId setting defined, it will be prepended to this value when the Switch is created if the Switch type is a Private, Internal or NAT. 
                                  </xs:documentation>
                                  <xs:appinfo>name="Cluster Network"</xs:appinfo>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="macaddress" type="xs:string" use="required">
                                <xs:annotation>
                                  <xs:documentation>
This required attribute is used to set the MAC Address of the Management Virtual Adapter connected to this Hyper-V Virtual Switch. 
                                  </xs:documentation>
                                  <xs:appinfo>macaddress="00155D010703"</xs:appinfo>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="vlan" type="xs:unsignedByte" use="optional">
                                <xs:annotation>
                                  <xs:documentation>
This optional attribute is used to set a VLAN ID of the Management Virtual Adapter connected to this Hyper-V Virtual Switch. 
                                  </xs:documentation>
                                  <xs:appinfo>vlan="10"</xs:appinfo>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>
This required attribute is used to configure the Name of the Hyper-V Virtual Switch to be created for this Lab. 

Note: If this Lab configuration has got a LabId setting defined, it will be prepended to this value when the Switch is created if the Switch type is a Private, Internal or NAT. 
                      </xs:documentation>
                      <xs:appinfo>name="Domain Cluster"</xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="type" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>
This required attribute is used to set the Type of Hyper-V Virtual Switch to create.
It can be set to:
 - Internal
 - Private
 - External
 - NAT  
                      </xs:documentation>
                      <xs:appinfo>type="Internal"</xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="vlan" type="xs:unsignedByte" use="optional">
                    <xs:annotation>
                      <xs:documentation>
This optional attribute is used to configure the VLAN ID of all Virtual Network Adapters that will connect to this Virtual Swtich. 
                      </xs:documentation>
                      <xs:appinfo>vlan="43"</xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="managementvlan" type="xs:unsignedByte" use="optional">
              <xs:annotation>
                <xs:documentation>
This optional attribute is used to change the VLAN ID used by the Private Hyper-V Management Switch created to manage this Lab.
If not set the default VLAN ID value of 99 will be used.
All Virtual Network Adapters automatically created and attached to the Management Switch for this Lab will be set to use this VLAN ID.
                </xs:documentation>
                <xs:appinfo>managementvlan="55"</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="templatevhds">
          <xs:annotation>
            <xs:documentation>
This optional element contains a collection of zero or more TemplateVHD nodes representing the Template Virtual Hard Disk files that are required by the Templates and/or Virtual Machines in this Lab.
These Template VHD files will be created from Windows Install Media ISO files if they can't be found in the specified VHDPath folder during the Lab Install process. 
            </xs:documentation>
            <xs:appinfo>&lt;templatevhds&gt;...&lt;/templatevhds&gt;</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="templatevhd">
                <xs:annotation>
                  <xs:documentation>
This optional element represents a Template VHD (Virtual Hard Disk) that will be created and used by a Virtual Machine Template to create boot disks for Virtual Machines.
If the VHD/VHDx file for this Template VHD can not be found it will be created using the specified Windows Install Media ISO file.
If the Windows Media ISO file can not be found the Lab Install will not be able to proceed.

Note: It is common for more than one Lab to use the same Template VHD files, therefore it is common to set the VHDPath and ISOPath attributes of this element to be a folder that can be accessed by multiple Labs.
                  </xs:documentation>
                  <xs:appinfo>&lt;templatevhd&gt;...&lt;/templatevhd&gt;</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="iso" type="xs:string" use="required" />
                  <xs:attribute name="url" type="xs:string" use="optional" />
                  <xs:attribute name="vhd" type="xs:string" use="required" />
                  <xs:attribute name="edition" type="xs:string" use="optional" />
                  <xs:attribute name="ostype" type="xs:string" use="required" />
                  <xs:attribute name="features" type="xs:string" use="optional" />
                  <xs:attribute name="vhdformat" type="xs:string" use="optional" />
                  <xs:attribute name="vhdtype" type="xs:string" use="optional" />
                  <xs:attribute name="generation" type="xs:unsignedByte" use="optional" />
                  <xs:attribute name="vhdsize" type="xs:string" use="required" />
                  <xs:attribute name="packages" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="isopath" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>
This optional attribute can be used to set the path to the folder that LabBuilder will look for the Windows Install Media ISO files for any missing Template VHD files. 
If not set this will default to the same path as the Lab configuration file.
This can be a relative or full path.
If a relative path is set, it will be relative to the full path of the Lab configuration file.
                </xs:documentation>
                <xs:appinfo>isopath="d:\LabShared\ISOs"</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="vhdpath" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>
This optional attribute can be used to set the path to the folder that LabBuilder will create or look for any Template VHD files in. 
If not set this will default to the same path as the Lab configuration file.
This can be a relative or full path.
If a relative path is set, it will be relative to the full path of the Lab configuration file.
                </xs:documentation>
                <xs:appinfo>isopath="d:\LabShared\VHDs"</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="prefix" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>
This optional attribute can be used to prepend a string to the VHD Template file that is created. 
                </xs:documentation>
                <xs:appinfo>prefix="Templates "</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="templates">
          <xs:annotation>
            <xs:documentation>
This optional element contains a collection of zero or more Template nodes representing the Virtual Machine Templates used to build the Virtual Machines in this Lab.
The Virtual Machine Templates in this list may refer to a TemplateVHD or define a direct path to a Source VHD file.
If a TemplateVHD is specified, this TemplateVHD must be found in the TemplateVHDs collection.
Every Virtual Machine defined in this Lab must refer to a Template in this collection. 
            </xs:documentation>
            <xs:appinfo>&lt;templates&gt;...&lt;/templates&gt;</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="template">
                <xs:annotation>
                  <xs:documentation>
This optional element represents a Virtual Machine Template that will be created when this Lab is installed.
                  </xs:documentation>
                  <xs:appinfo>&lt;template&gt;...&lt;/template&gt;</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="vhd" type="xs:string" use="optional" />
                  <xs:attribute name="sourcevhd" type="xs:string" use="optional" />
                  <xs:attribute name="memorystartupbytes" type="xs:string" use="optional" />
                  <xs:attribute name="dynamicmemoryenabled" type="xs:string" use="optional" />
                  <xs:attribute name="processorcount" type="xs:unsignedByte" use="optional" />
                  <xs:attribute name="administratorpassword" type="xs:string" use="optional" />
                  <xs:attribute name="productkey" type="xs:string" use="optional" />
                  <xs:attribute name="timezone" type="xs:string" use="optional" />
                  <xs:attribute name="ostype" type="xs:string" use="required" />
                  <xs:attribute name="integrationservices" type="xs:string" use="optional" />
                  <xs:attribute name="templatevhd" type="xs:string" use="optional" />
                  <xs:attribute name="exposevirtualizationextensions" type="xs:string" use="optional" />
                  <xs:attribute name="packages" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="fromvms" type="xs:string" use="optional" />            
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="vms">
          <xs:annotation>
            <xs:documentation>
This optional element contains a collection of zero or more VM nodes, each representing a Virtual Machine that will be created when this Lab is installed.
Each Virtual Machine will refer back to a Template that is found in the Templates collection.
If the Template used by this Virtual Machine can not be found, an error will occur when this Lab is installed.
            </xs:documentation>
            <xs:appinfo>&lt;vms&gt;...&lt;/vms&gt;</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="vm">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" maxOccurs="1" name="datavhds">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="datavhd">
                            <xs:complexType>
                              <xs:attribute name="vhd" type="xs:string" use="required" />
                              <xs:attribute name="sourcevhd" type="xs:string" use="optional" />
                              <xs:attribute name="copyfolders" type="xs:string" use="optional" />
                              <xs:attribute name="type" type="xs:string" use="optional" />
                              <xs:attribute name="size" type="xs:string" use="optional" />
                              <xs:attribute name="supportpr" type="xs:string" use="optional" />
                              <xs:attribute name="partitionstyle" type="xs:string" use="optional" />
                              <xs:attribute name="filesystem" type="xs:string" use="optional" />
                              <xs:attribute name="filesystemlabel" type="xs:string" use="optional" />
                              <xs:attribute name="parentvhd" type="xs:string" use="optional" />
                              <xs:attribute name="movesourcevhd" type="xs:string" use="optional" />
                              <xs:attribute name="shared" type="xs:string" use="optional" />
                              <xs:attribute name="supportsr" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="adapters">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="adapter">
                            <xs:complexType>
                              <xs:all>
                                <xs:element minOccurs="0" maxOccurs="1" name="ipv4">
                                  <xs:complexType>
                                    <xs:attribute name="address" type="xs:string" use="required" />
                                    <xs:attribute name="defaultgateway" type="xs:string" use="optional" />
                                    <xs:attribute name="subnetmask" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="dnsserver" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="ipv6">
                                  <xs:complexType>
                                    <xs:attribute name="address" type="xs:string" use="required" />
                                    <xs:attribute name="defaultgateway" type="xs:string" use="optional" />
                                    <xs:attribute name="subnetmask" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="dnsserver" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="switchname" type="xs:string" use="required" />
                              <xs:attribute name="macaddress" type="xs:string" use="optional" />
                              <xs:attribute name="vlan" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="macaddressspoofing" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="dsc">
                      <xs:complexType>
                        <xs:all>
                          <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="xs:string" />
                        </xs:all>
                        <xs:attribute name="configname" type="xs:string" use="required" />
                        <xs:attribute name="configfile" type="xs:string" use="required" />
                        <xs:attribute name="logging" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="install">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="msu">
                            <xs:complexType>
                              <xs:attribute name="url" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="template" type="xs:string" use="required" />
                  <xs:attribute name="computername" type="xs:string" use="required" />
                  <xs:attribute name="memorystartupbytes" type="xs:string" use="optional" />
                  <xs:attribute name="dynamicmemoryenabled" type="xs:string" use="optional" />
                  <xs:attribute name="exposevirtualizationextensions" type="xs:string" use="optional" />
                  <xs:attribute name="usedifferencingbootdisk" type="xs:string" use="optional" />
                  <xs:attribute name="administratorpassword" type="xs:string" use="optional" />
                  <xs:attribute name="productkey" type="xs:string" use="optional" />
                  <xs:attribute name="timezone" type="xs:string" use="optional" />
                  <xs:attribute name="unattendfile" type="xs:string" use="optional" />
                  <xs:attribute name="setupcomplete" type="xs:string" use="optional" />
                  <xs:attribute name="integrationservices" type="xs:string" use="optional" />
                  <xs:attribute name="packages" type="xs:string" use="optional" />
                  <xs:attribute name="bootorder" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="name" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
This required attribute should be used to set a descriptive name for this Lab configuration.
          </xs:documentation>
          <xs:appinfo>name="WS2012R2-DOMAIN-CLUSTER"</xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="xs:decimal" use="required">
        <xs:annotation>
          <xs:documentation>
This required attribute should be used to set a version number for this Lab configuration in the format #.#.
It should be updated each time the Lab configuration is changed.
          </xs:documentation>
          <xs:appinfo>version="2.1"</xs:appinfo>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>